body{
    background-color: #008000;
    color: white;
}

header{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}


nav{
    margin-bottom: 4rem;
    margin-left: -0.5rem;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #006400;

  display: flex;
  justify-content: center;
  overflow: hidden;

  position: fixed;
  top: 0;
  width: 100%;
  

  
}

li{
    border-right:white 1px solid;
    border-left:white 1px solid;
    
}

li a {
    display: block;
    color: #00C22D;
    text-align: center;
    padding: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    
}

li a:hover {
  background-color: #008000;
}

.active {
  background-color: rgb(1, 54, 13);
  
}

form{
    border-style:double;
    padding: 0.5%;   
    
}

.origins{
    text-align: center;
    font-size: 120%;
    padding-left: 20%;
    padding-right: 20%;
    flex-wrap: wrap;
}